.pattern-background {
    -fx-background-image: url("../images/background_pattern.png");
    -fx-background-repeat: repeat;
    -fx-background-position: top left;
    -fx-background-size: 200px 200px;
}