.darkPane {
    -fx-background-color: rgba(0, 0, 0, 0.8); /* nero con opacità 80% */
}
.whitePane{
    -fx-background-color: rgba(255, 255, 255, 0.65); /* bianco con opacità 80% */
    -fx-background-radius: 10px; /* angoli arrotondati */
    -fx-border-color: #045c11; /* bordo nero */
    -fx-border-width: 2px; /* larghezza del bordo */
    -fx-border-radius: 10px; /* angoli arrotondati */
}