

.mfx-text-field {
    -fx-min-width: 130;
    -fx-font-family: 'Open Sans SemiBold';
}

.mfx-text-field .floating-text {
    -fx-font-family: 'Open Sans SemiBold';
}

@font-face {
    font-family: 'FiraCode';
    src: url('../fonts/FiraCode-Regular.ttf');
}

.root {
    -fx-background-color: linear-gradient(to bottom right, #469536, #b7d5ac );
    -fx-font-family: FiraCode;
    -fx-font-size: 14px;
}



.login-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #346835;
}


.button {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-background-radius: 6px;
    -fx-padding: 8 20;
    -fx-font-weight: bold;
    -fx-font-family: 'FiraCode'
}


.button:hover {
    -fx-background-color: #2ecc71;
}

.hyperlink {
    -fx-text-fill: #2980b9;
}

.hyperlink:hover {
    -fx-text-fill: #3498db;
    -fx-underline: true;
}
