@font-face {
    font-family: 'FiraCode';
    src: url('../fonts/FiraCode-Regular.ttf');
}

.root {
    -fx-background-color: #12dc49;
    -fx-font-family: FiraCode;
    -fx-font-size: 14px;
}

.header {
    -fx-font-size: 24px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.login-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #346835;
}

.text-field,
.password-field {
    -fx-pref-width: 200px;
    -fx-pref-height: 10px;
    -fx-max-width: 200px;
    -fx-border-radius: 8px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.button {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-background-radius: 6px;
    -fx-padding: 8 20;
    -fx-font-weight: bold;
    -fx-font-family: 'FiraCode'
}

.button:hover {
    -fx-background-color: #2ecc71;
}

.hyperlink {
    -fx-text-fill: #2980b9;
}

.hyperlink:hover {
    -fx-text-fill: #3498db;
    -fx-underline: true;
}